{% extends 'base.html' %}

{% block content %}
            <div class="grid-x grid-margin-x">
                {% if user.is_authenticated %}
                <div class="cell small">
                    <a href="{% url 'game-add' %}" class="button tertiary">Create a new game</a>
                </div>
                {% endif %}
                <div class="cell small-12">
                    <h2>Available games</h2>
                </div>
                <div class="cell small-12">
                    <table class="stack hover">
                        <thead>
                            <tr>
                                <th width="30%">Game Name</th>
                                <th width="25%">Stake</th>
                                <th width="15%">Bet</th>
                                <th width="15%">State</th>
                                <th width="15%">Action available</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in object_list %}
                                <tr>
                                    <td>{{ game.title }} by {{game.author}}</td>
                                    <td>{{ game.get_value_unit }}</td>
                                    <td>{% if game.head %} HEAD {% else %} TAIL {% endif %}</td>
                                    <td>{% if not game.p2 %} PENDING 
                                        {% elif game.author == user and game.author_won == True or game.p2 == user and game.author_won == False %}
                                        WON
                                        {% else %}
                                        LOST
                                        {% endif %}</td>
                                    <td>
                                    {% if not game.p2 %}
                                    <a href="{{ game.get_absolute_url}}" class="button primary"><span class="fas fa-play"></span> Play !</a>
                                    {% elif user == game.author %}
                                    <a href="{% url 'game-delete' pk=game.pk %}" class="button secondary" data-tooltip tabindex="1" title="Delete"><span class="far fa-trash-alt"></span></a></td>
                                    {% endif %}
                                </tr>
                            {% empty %}
                                <tr>No games yet.</tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if user.is_authenticated %}
                    <a href="{% url 'game-add' %}" class="button tertiary">Create a new game</a>
                    {% endif %}
                </div>
            </div>
{% endblock %}
